.navbar__hamburger {
  position: relative;
  display: none;
  width: 22px;

  cursor: pointer;
  background: none;
  appearance: none;
  outline: none;
  border: none;
}

.navbar__hamburger .navbar__hamburger__bar,
.navbar__hamburger::after,
.navbar__hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000000b7 !important;
  border-radius: 2px;
  margin: 6px 0px;
  transition: 0.4s;
}

.navbar__hamburger.navbar__hamburger--active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.navbar__hamburger.navbar__hamburger--active::after {
  transform: rotate(45deg) translate(-7px, -5px);
}

.navbar__hamburger.navbar__hamburger--active .navbar__hamburger__bar {
  opacity: 0;
}
