#header {
  position: fixed;
  min-height: var(--navbar-min-height);
  background-color: var(--backgroud-color-primary);
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  align-content: center;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

/* LOGO */
.navbar__logo {
  display: flex;
}

.navbar__logo-link {
  display: flex;
  align-items: center;
  color: var(--navbar-color-link);
  font-family: var(--font-family-tertiary);
  font-size: 1.3rem;
  font-weight: bold;
}

/* LOGO - FIM */
/* NAV */
.navbar__menu {
  display: flex;
  transition: all 1s ease-out !important;
  column-gap: 4px;
}

.navbar__menu.navbar__menu--active {
  right: 10px;
  pointer-events: all;
}

.navbar__menu-link {
  position: relative;
  /* display: block; */
  padding: 0.5rem 1rem;
  font-weight: 600;
  /* width: 100%; */
  color: var(--navbar-color-link);
  letter-spacing: 0.5px;
}

a.navbar__menu-link::after {
  content: "";
  position: absolute;
  background-color: var(--navbar-color-link);
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;
  transition: 0.3s ease-in-out;
}

a.navbar__menu-link:hover::after{
  width: 100%;
}

.navbar__menu-link-active{
  border-bottom: solid 2px #000;
} 

/* .navbar__menu-link:is(:focus, :hover){
  text-shadow: 1px 1px 0px var(--navbar-color-link);
}

.navbar__menu-link-active{
  border-bottom: solid 1px var(--navbar-color-link);
}

.navbar__menu-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
} */
