/* .header {
  background-color: var(--backgroud-color-main);
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
} */

#header {
  --navbar-height: 5rem;
  position: fixed;
  min-height: var(--navbar-height);
  background-color: var(--backgroud-color-main);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  align-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

/* LOGO */
.navbar__logo {
  display: flex;
}

.navbar__logo-link {
  display: flex;
  align-items: center;
  font-family: var(--font-family-tertiary);
  font-size: 1.3rem;
  font-weight: bold;
}
/* LOGO */

/* NAV */

.navbar__menu {
  display: flex;
}

.navbar__menu-link {
  justify-content: center;
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: var(--navbar-text-color);
  width: 100%;
  border-radius: 5px;
}
.navbar__menu-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}

/* BUTTON TOGGLER */
.navbar__toggler {
  display: none;
  background-color: black;
  border-radius: 5px;
  width: 43px;
  height: 43px;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:hover {
    cursor: pointer;
  }
}

.navbar__toggler .navbar__toggler-icon {
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--white);
  transition: all 0.4s;
}

/* .navbar__toggler-active .navbar__toggler-icon{
  width: 28px;
} */
.navbar__toggler-active .navbar__toggler-icon:nth-child(2) {
  opacity: 0;
  width: 0px;
}

.navbar__toggler-active .navbar__toggler-icon:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 4px);
  width: 20px;
}

.navbar__toggler-active .navbar__toggler-icon:nth-child(3) {
  transform: rotate(45deg) translate(-6.5px, -8px);
  width: 20px;
}
