#header {
  position: fixed;
  min-height: var(--navbar-min-height);
  background-color: var(--backgroud-color-primary);
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  align-content: center;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

/* LOGO */
.navbar__logo {
  display: flex;
}

.navbar__logo-link {
  display: flex;
  align-items: center;
  color: var(--navbar-color-link);
  font-family: var(--font-family-tertiary);
  font-size: 1.3rem;
  font-weight: bold;
}

/* LOGO - FIM */
/* NAV */
.navbar__menu {
  display: flex;
  transition: all 0.3s ease-in-out !important;
}

.navbar__menu.navbar__menu--active {
  /* transform: translate(0) !important;
   */
  right: 10px;
}

.navbar__menu-link {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 600;
  width: 100%;
  border-radius: 5px;
  color: var(--navbar-color-link);
}

.navbar__menu-link-active{
  border-buttom: solid 1px #000;
}

/* .navbar__menu-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
} */
