body {
  background-color: rgb(28, 62, 212) !important;
}

.navbar__menu {
  background-color: var(--background-color-main);
  position: fixed;
  top: 90px;
  right: -100%;
  width: 300px;
  padding: 20px 35px;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  z-index: 10;
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.25);
  /* transform: translateX(-100%); */
}

.navbar__menu-link {
  font-size: 14px;
}

.navbar__hamburger {
  display: block !important;
}
