@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playwrite+NL:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --font-family-main: "Old Standard TT", serif;
  --font-family-secondary: "Roboto Mono", monospace;
  --font-family-tertiary: "Playwrite NL", cursive;

  --backgroud-color-primary: #c4bf80;
  --color-primary: #000;
  --navbar-color-link: rgba(0, 0, 0, 0.733);

  --background-color-main: #c4bf80;

  --color-main: #f5ecec;
  --white: #fff;

  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(36, 21%, 32%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);

  --navbar-min-height: 5rem;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-main);
  height: 200rem;
  line-height: 1.5;
  font-size: 1rem;
  background-color: #f6f2e7;
}

li {
  list-style: none;
}

a {
  color: var(--navbar-color-link);
  text-decoration: none;
  color: inherit;
  font-family: var(--font-family-secondary);
}

a:hover {
  color: var(--color-primary);
}

/* Container class to simulate Bootstrap's container */
.container {
  max-width: 1200px;
  /* Or any desired max-width */
  padding: 0 3rem;
  /* Horizontal padding */
  margin: 0 auto;
  /* Center align the container */
}

.dflex{
  display: flex;
  justify-content: center;
  align-items: center;
}